@import '../../index.scss';

.article {
    & {
        display: flex;
        justify-content: space-between;
        width: 941px;
        height: 140px;
        background-color: $background-color-base;
        margin-top: 26px;
        border-radius: 5px;
        padding: 15px 24px 10px 19px;
    }
}